<nav
  class="navbar navbar-expand-lg navbar-light bg-dark"
  style="background-color: #e3f2fd"
>
  <a routerLink="/home" routerLinkActive="active-link" class="nav-link"
    >Home
  </a>
  <a routerLink="/shop" routerLinkActive="active-link" class="nav-link"
    >Lista de productos
  </a>
  <a routerLink="/product" routerLinkActive="active-link" class="nav-link"
    >Iniciar Sesión
  </a>
</nav>
<!-- TO DO: Navbar con css/scss  -->
<div class="navigation">
  <a class="logo-container" routerLink="/home"> Home </a>

  <div class="nav-links-container">
    <a class="nav-link" routerLink="/shop"> Productos </a>
    <a class="nav-link" routerLink="/sign-in"> Iniciar sesión </a>
  </div>
</div>
