<!-- slider cards -->
<div class="keen-slider" #sliderCardRef>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Death stranding</a>
        </div>
        <a href="#" class="price"> $8.49 </a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="../../../../assets/images/products/action/action1.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Assasins Creed Valhalla</a>
        </div>
        <a href="#" class="price">$50.79</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action2.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Back 4 Blood: Standard Edition</a>
        </div>
        <a href="#" class="price">$59.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action3.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Cyberpunk 2077</a>
        </div>
        <a href="#" class="price">$50.00</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action4.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Dead by Daylight</a>
        </div>
        <a href="#" class="price">$9.49</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action5.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Far Cry® 6</a>
        </div>
        <a href="#" class="price">$50.02</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action6.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> God of War</a>
        </div>
        <a href="#" class="price">$39.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action7.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> STAR WARS™ Battlefront™ II</a>
        </div>
        <a href="#" class="price">$39.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action8.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Grand Theft Auto V</a>
        </div>
        <a href="#" class="price">$10.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action9.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Red Dead Redemption 2</a>
        </div>
        <a href="#" class="price">$36.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action10.jfif" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> World War Z: Aftermath</a>
        </div>
        <a href="#" class="price">$19.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action11.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> The Binding of Isaac: Repentance</a>
        </div>
        <a href="#" class="price">$10.49</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action12.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Marvels Guardians of the Galaxy</a>
        </div>
        <a href="#" class="price">$59.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/action/action13.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> VALORANT</a>
        </div>
        <a href="#" class="price">Gratis</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/arcade/arcade1.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Cuphead</a>
        </div>
        <a href="#" class="price">$18.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/arcade/arcade2.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Street Fighter</a>
        </div>
        <a href="#" class="price">$18.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/arcade/arcade3.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Crash Bandicoot™ 4</a>
        </div>
        <a href="#" class="price">$59.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/arcade/arcade4.webp" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Hue</a>
        </div>
        <a href="#" class="price">$2.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/arcade/arcade5.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Hell is Other Demons</a>
        </div>
        <a href="#" class="price">$1.99</a>
      </div>
    </div>
  </div>
  <div class="keen-slider__slide">
    <div class="box">
      <div class="slide-img">
        <img src="assets/images/products/arcade/arcade6.jpg" />
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#"> Neon Abyss</a>
        </div>
        <a href="#" class="price">$3.99</a>
      </div>
    </div>
  </div>
</div>
