.cardsProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 7px));
  justify-content: center;
  background-color: #202020;
  padding: 50px;
}

.price {
  padding: 5px;
  border-top-left-radius: 10px;
  width: max-content;
  background-color: red;
  margin-top: 5px;
  font-size: 12px;
}

.image {
  height: max-content;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 267px;
}

ngb-pagination ::ng-deep a {
  color: white !important;
  background-color: #202020;
  border-color: #202020;
}
ngb-pagination ::ng-deep :hover {
  background-color: #202020;
  border-color: #ff0040;
  border-radius: 5px;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: #ff0040;
  background-color: #ff0040;
}

ngb-pagination ::ng-deep .page-item.disabled .page-link {
  background-color: #202020;
  border-color: #202020;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem white;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

.priceAndBtn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.btn-add {
  background-color: #ffffff;
  border-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 4px;
  margin-top: 5px;
  width: calc(100% - 50px);
  border-radius: 0;
  border-top-right-radius: 10px;

}
.btn-little {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
  border-radius: 0;
}
.container{
  /* width: max-content;
  position: relative;
  left: -300px; */
  justify-content: center;
  background-color: #202020;
  padding: 50px;
}
