<!-- Accediendo a los productos desde el componente, estos valores fueron asignados basados a la llamada al servicio
 -->

<div class="cardsProducts">
  <div *ngFor="let tempProduct of products">
    <div class="image">
      <div>
        <a routerLink="/product/{{ tempProduct.id }}">
          <img src="{{ tempProduct.imageUrl }}" />
        </a>
        <div>
          <div routerLink="/product/{{ tempProduct.id }}">
            <div>{{ tempProduct.name }}</div>
          </div>
          <div
            class="price"
            *ngIf="tempProduct.unitPrice != 0; else myElseBlock"
          >
            {{ tempProduct.unitPrice | currency: "USD":true }}
          </div>
          <ng-template #myElseBlock> Gratis </ng-template>
        </div>
      </div>
      <div></div>
    </div>
  </div>

  <div *ngIf="products?.length === 0" class="notFound">
    <h3>No se encontro ningun resultado que coincidan con esta busqueda...</h3>
  </div>
</div>
