<!-- Accediendo a los productos desde el componente, estos valores fueron asignados basados a la llamada al servicio
 -->

<div class="cardsProducts">
  <div *ngFor="let tempProduct of products">
    <div class="card">
      <div class="image">
        <a routerLink="/product/{{ tempProduct.id }}">
          <img src="{{ tempProduct.imageUrl }}" />
        </a>
        <div class="cover bottom">
          <a routerLink="/product/{{ tempProduct.id }}">
            <div class="name">{{ tempProduct.name }}</div>
          </a>
          <div
            class="price"
            *ngIf="tempProduct.unitPrice != 0; else myElseBlock"
          >
            {{ tempProduct.unitPrice | currency: "USD":true }}
          </div>
          <ng-template class="price" #myElseBlock> Gratis </ng-template>
        </div>
      </div>
      <div class="detail-box">
        <button
          mat-raised-button
          [style]="{
            width: '13em',
            margin: '0.5em'
          }"
        >
          <mat-icon>shopping_cart</mat-icon>
          Al carrito
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="products?.length === 0" class="notFound">
    <h3>No se encontro ningun resultado que coincidan con esta busqueda...</h3>
  </div>
</div>
