<div class="container">
  <button class="btn btn-light mb-3" routerLink="/product/list">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor"
      class="bi bi-arrow-left-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
      />
    </svg>
    Volver a la lista de juegos
  </button>
  <div class="detail-container">
    <div class="left-column">
      <img src="{{ product.imageUrl }}" alt="" />
    </div>
    <div class="rigth-column">
      <span *ngIf="product.category?.includes('ARCADE')">
        <div class="tag-category yellow">Arcade</div>
      </span>

      <span *ngIf="product.category?.includes('ACCION')">
        <div class="tag-category red">Acción</div>
      </span>

      <span *ngIf="product.category?.includes('SPORT')">
        <div class="tag-category blue">Deporte</div>
      </span>

      <span *ngIf="product.category?.includes('STRATEGY')">
        <div class="tag-category green">Estratégia</div>
      </span>

      <h1>{{ product.name }}</h1>
      <div class="price" *ngIf="product.unitPrice != 0; else myElseBlockPrice">
        {{ product.unitPrice | currency: "USD":true }}
      </div>
      <ng-template class="price" #myElseBlockPrice> Gratis </ng-template>

      <button class="btn btn-danger" (click)="addToCart()">
        AÑADIR AL CARRITO
      </button>
    </div>
  </div>
  <div>
    <h2>Descripción</h2>
    <p>{{ product.description }}</p>
  </div>
</div>
