<!-- Accediendo a los productos desde el componente, estos valores fueron asignados basados a la llamada al servicio
 -->

<p-table [value]="products" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio unitario</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td><img src="{{ product.imageUrl }}" height="50" /></td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.unitPrice | currency: "USD":true }}</td>
    </tr>
  </ng-template>
</p-table>
