<!-- TO DO: Navbar con css  -->
<div class="navigation">
  <a class="logo-container" routerLink="/home">
    <img src="../../../../assets/images/homeIcon.svg" height="50" />
  </a>

  <div class="nav-links-container">
    <a class="nav-link" routerLink="/product/new" *ngIf="isLogged">
      Nuevo producto
    </a>

    <a class="nav-link" routerLink="/product/list" *ngIf="isLogged">
      Productos
    </a>
    <a class="nav-link" routerLink="/login" *ngIf="!isLogged">
      Iniciar sesión
    </a>
    <a
      class="nav-link"
      routerLink="/logout"
      (click)="onLogout()"
      *ngIf="isLogged"
    >
      Cerrar sesión
    </a>
  </div>
</div>
