.inputSearch{
    width: 30%;
    border: none;
    background-color: #202020;
    border-radius: 30px;
    color: white;

}

.searchBtn{
    background-color: rgb(255, 0, 64);
    color: white;
    border: none;
    border-radius: 30px;
}