<div class="header">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video class="d-block w-100" autoPlay [muted]="true" loop>
          <source
            src="../../../../../assets/video/videoHeader1.mp4"
            type="video/mp4"
          />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title" routerLink="/product/3">
            Assassin's Creed <br />
            Valhalla
          </h1>
          <div class="tagline">Obtener ahora</div>
        </div>
      </div>
      <div class="carousel-item">
        <video class="d-block w-100" autoPlay [muted]="true" loop>
          <source src="../assets/video/videoHeader2.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title" routerLink="/product/8">God of war</h1>
          <div class="tagline">Obtener ahora</div>
        </div>
      </div>
      <div class="carousel-item">
        <video class="d-block w-100" autoPlay [muted]="true" loop>
          <source
            src="../../../../../assets/video/videoHeader3.mp4"
            type="video/mp4"
          />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title" routerLink="/product/11">
            Red Dead <br />Redemption II
          </h1>
          <div class="tagline">Obtener ahora</div>
        </div>
      </div>

      <div class="carousel-item">
        <video class="d-block w-100" autoPlay [muted]="true" loop>
          <source src="../assets/video/videoHeader4.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title" routerLink="/product/14">
            Marvel's<br />
            Guardians of the Galaxy
          </h1>
          <div class="tagline">Obtener ahora</div>
        </div>
      </div>

      <div class="carousel-item">
        <video class="d-block w-100" autoPlay [muted]="true" loop>
          <source src="../assets/video/videoHeader5.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title" routerLink="/product/56">
            Horizon <br />Forbidden West
          </h1>
          <div class="tagline">Obtener ahora</div>
        </div>
      </div>

      <div class="carousel-item">
        <video class="d-block w-100" autoPlay [muted]="true" loop>
          <source src="../assets/video/videoHeader6.mp4" type="video/mp4" />
        </video>
        <div class="carousel-caption d-none d-md-block">
          <h1 class="title" routerLink="/product/59">
            Marvel's<br />
            Avengers
          </h1>
          <div class="tagline">Obtener ahora</div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
