<div class="keen-slider" #sliderHeaderRef>
  <div class="keen-slider__slide slide">
    <header class="header">
      <video class="headervideo" autoPlay [muted]="true" loop>
        <source
          src="../../../../../assets/video/videoHeader1.mp4"
          type="video/mp4"
        />
      </video>
      <div class="content">
        <h1 class="title">
          Assassin's Creed <br />
          Valhalla
        </h1>
        <div class="tagline">Obtener ahora</div>
      </div>
    </header>
  </div>
  <div class="keen-slider__slide slide">
    <header class="header">
      <video class="headervideo" autoPlay [muted]="true" loop>
        <source
          src="../../../../../assets/video/videoHeader2.mp4"
          type="video/mp4"
        />
      </video>
      <div class="content">
        <h1 class="title">God of war</h1>
        <div class="tagline">Obtener ahora</div>
      </div>
    </header>
  </div>
  <div class="keen-slider__slide slide">
    <header class="header">
      <video class="headervideo" autoPlay [muted]="true" loop>
        <source
          src="../../../../../assets/video/videoHeader3.mp4"
          type="video/mp4"
        />
      </video>
      <div class="content">
        <h1 class="title">Red Dead <br />Redemption II</h1>
        <div class="tagline">Obtener ahora</div>
      </div>
    </header>
  </div>
  <div class="keen-slider__slide slide">
    <header class="header">
      <video class="headervideo" autoPlay [muted]="true" loop>
        <source
          src="../../../../../assets/video/videoHeader4.mp4"
          type="video/mp4"
        />
      </video>
      <div class="content">
        <h1 class="title">
          Marvel's<br />
          Guardians of the Galaxy
        </h1>
        <div class="tagline">Obtener ahora</div>
      </div>
    </header>
  </div>
  <div class="keen-slider__slide slide">
    <header class="header">
      <video class="headervideo" autoPlay [muted]="true" loop>
        <source
          src="../../../../../assets/video/videoHeader5.mp4"
          type="video/mp4"
        />
      </video>
      <div class="content">
        <h1 class="title">Horizon <br />Forbidden West</h1>
        <div class="tagline">Obtener ahora</div>
      </div>
    </header>
  </div>
  <div class="keen-slider__slide slide">
    <header class="header">
      <video class="headervideo" autoPlay [muted]="true" loop>
        <source
          src="../../../../../assets/video/videoHeader6.mp4"
          type="video/mp4"
        />
      </video>
      <div class="content">
        <h1 class="title">
          Marvel's<br />
          Avengers
        </h1>
        <div class="tagline">Obtener ahora</div>
      </div>
    </header>
  </div>
</div>
