#carouselExampleCaptions {
  border-radius: 10px;
  overflow: hidden;
}
.header {
  height: 100vh;
  /* display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px; */
}
.title {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  text-shadow: 10px 7px 27px #000000;
  border-style: #000000 1px solid;
  color: white;
  text-align: right;  
  cursor: pointer !important;
}
.tagline {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: right;
  text-shadow: 10px 7px 27px #000000;
  text-transform: uppercase;
}
