<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let salesPerson">{{ salesPerson.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let salesPerson">{{ salesPerson.lastName }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let salesPerson">{{ salesPerson.email }}</td>
  </ng-container>

  <ng-container matColumnDef="salesVolume">
    <th mat-header-cell *matHeaderCellDef>salesVolume</th>
    <td mat-cell *matCellDef="let salesPerson">
      {{ salesPerson.salesVolume | currency: "USD":true }}
    </td>
  </ng-container>
  <ng-container matColumnDef="metCuota">
    <th mat-header-cell *matHeaderCellDef>Cuota cumplida</th>
    <td mat-cell *matCellDef="let salesPerson">
      <div *ngIf="salesPerson.salesVolume > 60000; else myElseBlock">Si</div>
      <ng-template #myElseBlock> No </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- <table mat-table class="mat-elevation-z8">
  <tr>
    <th>Sales Person</th>
    <th>Sales</th>
    <th>Sales %</th>
  </tr>
  <tr *ngFor="let salesPerson of salesPersonList">
    <td>{{ salesPerson.firstName }}</td>
    <td>{{ salesPerson.lastName }}</td>
    <td>{{ salesPerson.salesVolume }}</td>
  </tr>
</table> -->
