<!-- TO DO: Navbar con css  -->
<div class="navigation">
  <a class="logo-container" routerLink="/home">
    <img src="../../../../assets/images/homeIcon.svg" height="50" />
  </a>

  <div class="nav-links-container">
    <a class="nav-link" routerLink="/product-list"> Productos </a>
    <a class="nav-link" routerLink="/sign-in"> Iniciar sesión </a>

    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" placeholder="Buscar.." pInputText />
    </span>
  </div>
</div>
