.cardsProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 50px 0 0 30vh;
  justify-content: center;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  width: 200px;
  margin-bottom: 20px;
  background-color: #303134;
  transition: transform 0.4s ease ;
}
.card:hover {
  transform: scale(1.10);
  box-shadow: 0px 0px 12px 4px #000;
}

.card .image {
  height: 100%;
  overflow:hidden ;
}
.card .image img {
  width: 100%;
}

.detail-box {
  display: grid;
  justify-content: center !important;
}

.cover{
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
}
.name{
  padding: 4px;
  border-radius: 8px;
  font-weight: bold;
  background: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.049) 12%,
      rgba(255, 255, 255, 0.053) 77%
    );
    box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: transform 0.4s ease ;
}
.name:hover{
  transform: scale(1.20);
}
.price{
  padding: 4px;
  border-radius: 8px;
  width: max-content;
  background-color: red;
  margin-top: 5px;
  font-size: 12px;
}

.card:hover .bottom{
    transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 110px;
}
.bottom{
  bottom: 0px;
}
