.cardsProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  /* gap: 15px; */
  margin-left: 20px;
  justify-content: center;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  height: 300px;
  width: 200px;
  margin-bottom: 20px;
  background-color: #303134;
}
.card .image {
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
}
.card:hover .image img {
  opacity: 0.5;
}
.detail-box {
  display: grid;
  justify-content: center !important;
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  transform-origin: bottom;
  transform: perspective(2000px) rotateX(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
  width: fit-content;
  position: absolute;
  overflow: hidden;
}
.card .details .center h1 {
  color: #ff3636;
  font-size: 16px;
  font-weight: 700;
}
.card .details .center h1 span {
  font-size: 14px;
  float: left;
  color: #262626;
}
