<!-- Accediendo a los productos desde el componente, estos valores fueron asignados basados a la llamada al servicio
 -->

<div class="cardsProducts">
  <div *ngFor="let tempProduct of products">
    <div class="card">
      <div class="image">
        <img src="{{ tempProduct.imageUrl }}" />
        <div class="cover bottom">
          <div class="name">{{ tempProduct.name }}</div>
          <div
            class="price"
            *ngIf="tempProduct.unitPrice != 0; else myElseBlock"
          >
            {{ tempProduct.unitPrice | currency: "USD":true }}
          </div>
          <ng-template class="price" #myElseBlock> Gratis </ng-template>
        </div>
      </div>
      <div class="detail-box">
        <button
          mat-raised-button
          [style]="{
            width: '13em',
            margin: '0.5em'
          }"
        >
          <mat-icon>shopping_cart</mat-icon>
          Al carrito
        </button>
      </div>
    </div>
  </div>
</div>
