<div class="sidebar">
  <div>
    <i class="pi pi-bookmark-fill" style="font-size: 2rem"></i>Categorias
  </div>
  <a
    class="nav-link"
    routerLink="/product/category/1"
    routerLinkActive="active-link"
  >
    Accion
  </a>
  <a
    class="nav-link"
    routerLink="/product/category/2"
    routerLinkActive="active-link"
  >
    Arcáde
  </a>
  <a
    class="nav-link"
    routerLink="/product/category/3"
    routerLinkActive="active-link"
  >
    Deporte
  </a>
  <a
    class="nav-link"
    routerLink="/product/category/4"
    routerLinkActive="active-link"
  >
    Estratégia
  </a>
</div>
